scipy
pandas
configargparse
progress
json_tricks
Cython
opencv-python
pycocotools==2.0.6
matplotlib
albumentations
tk
keras
numpy
scikit-image
opencv-python
opencv-contrib-python
tensorflow
tensorflow-model-optimization
matplotlib
tqdm
pillow
mnn
keras2onnx
tf2onnx
pycocotools
onnx
onnxruntime
